{% extends 'base.html' %}

{% block head %}



{% endblock %}

{% block body %}

    <h1>{% block title %} Hello I am a Thermostat wooo {% endblock %}</h1>
    <section>
        <h1 id="temperature"></h1>
        <p>
          <button id="temperature-up">+</button>
          <button id="temperature-down">-</button>
          <button id="temperature-reset">reset</button>
          power saving mode is <span id="power-saving-status">on</span>
          <button id="powersaving-on">PSM on</button>
          <button id="powersaving-off">PSM off</button>
        </p>
      </section>
      <script src="thermostat.py"></script>
      <script src="src/interface.js"></script>
{% endblock %}
